.content {
  border-radius: 5px;
  padding: 10px;
  margin-top: 80px;
  background: #fff;
  -moz-box-shadow: 4px 4px 4px #eee;
  -webkit-box-shadow: 4px 4px 4px #eee;
  box-shadow: 4px 4px 4px #eee;
  border-left: 1px #eee solid;
  border-top: 1px #eee solid;
}
@media (max-width: 971px) {
  .content {
    margin-top: 0px !important;
  }
}
footer {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
footer a {
  color: #000;
}
footer a:hover {
  color: #000;
  text-decoration: none;
}
footer p {
  margin-top: -8px;
}
footer i {
  font-size: 20px;
}
#logs {
  background: #000;
  padding: 10px;
  font-size: 14px;
  word-wrap: break-word;
}
#logs .none {
  color: #fff;
}
#logs p {
  margin: 0;
}
#logs p .dollar {
  color: #fff;
}
#logs .output {
  margin-left: 30px;
  color: #eee !important;
  font-size: 12px;
}
#logs a {
  color: #fff;
}
#logs a .success {
  color: #1c9b47;
}
#logs a .warning {
  color: #e78b24;
}
#logs a .error {
  color: #9c0001;
}
