<!DOCTYPE html>
<html>
<head>
    <title>Criterion</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/application.css" rel="stylesheet"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.timeago.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/application.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-right">
                    <a href="#addProject" role="button" data-toggle="modal" class="btn btn-info btn-small">
                        Create Project
                    </a>
                </div>
                <a class="brand" href="/">
                    <i class="icon-stethoscope"></i>
                    Criterion
                </a>
                <ul class="nav">
                    <li class="active"><a href="/">Projects</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container content">
        {% block content %}{% endblock %}
    </div>

    {% include 'Blocks/AddProject.twig' %}
</body>
</html>
