<div id="addProject" class="modal" tabindex="-1" role="dialog" aria-labelledby="addProjectLabel" aria-hidden="true">
    <form method="post" action="/project/create">
        <div class="modal-body">
            <div class="row-fluid">
                <label for="source"><b>Source (GIT or Local Folder)</b></label>
                <input id="source" name="source" required type="text" placeholder="git@github.com:romhut/criterion" class="span12">
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-success">Add Project</button>
            </div>
        </div>
    </form>
</div>
