<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>{% if title is defined %} {{ title }} | {% endif %}Criterion</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/application.css" rel="stylesheet"/>

    <script src="/js/require.js"></script>
    <script src="/js/app.js"></script>

</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="pull-right">
                    {% if app.user %}
                        <ul class="nav pull-right">
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {% if app.user.isAdmin %}
                                        <li>
                                            <a href="#addProject" role="button" class="btn-add-project visible-phone">
                                                <i class="icon-plus"></i> Create Project
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="/tokens"><i class="icon-lock"></i> Auth Tokens</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
                                </ul>
                            </li>
                        </ul>

                        {% if app.user.isAdmin %}
                            <ul class="nav pull-right">
                                <a href="#addProject" role="button" class="btn btn-info btn-add-project btn-small hidden-phone">
                                    Create Project
                                </a>
                            </ul>
                        {% endif %}
                    {% else %}
                        <a class="btn btn-small btn-primary" href="/auth/login">Login</a>
                    {% endif %}
                </div>

                <a class="brand" href="/">
                    <i class="icon-stethoscope"></i>
                    Criterion
                </a>
            </div>
        </div>
    </div>
    <div class="container content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <a href="http://github.com/romhut/criterion">
            <i class="icon-github"></i>
            <p>Fork Me</p>
        </a>
    </footer>
    {% if app.user and app.user.isAdmin %}
        {% include 'Blocks/AddProject.twig' %}
    {% endif %}
</body>
</html>
